<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Login</h1>
    <form  method="post">
        <label for="login-username">Username:</label>
        <input type="text" id="login_username" name="username" required><br><br>
        
        <label for="login-password">Password:</label>
        <input type="password" id="login_password" name="password" required><br><br>
        
        <button id="loginButton" type="submit">Login</button>
    </form>
    <a href="/register">register</a>
    
    <script  type="text/javascript"  src="/frontendJS/loginFE.js"></script>
</body>
</html>